<h2>Highest trading volume within a given date range</h2>
<div>
    <label for="startdate">Start Date (mm/dd/yyyy): </label>
    <input id="startdate" [(ngModel)]="startDate" placeholder="Start Date">
    <p></p>
    <label for="enddate">End Date (mm/dd/yyyy): </label>
    <input id="enddate" [(ngModel)]="endDate" placeholder="End Date">
</div>
<button class="Search" (click)="search()">Search</button>
<p>&nbsp;</p>

<div *ngIf = 'clicked'><span>The date with the highest trading volume is {{date}} and the trading volume 
    on that day is {{volume}} euros.
    </span>
</div>