button.Search {
    padding: 1rem;
    margin-top: 10px;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
    }
    
    button.Search:hover {
      background-color: #42545C;
      color: white;
    }