<h2>Longest bearish within a given date range</h2>

<div>
    <label for="startdate">Start Date (mm/dd/yyyy): </label>
    <input id="startdate" [(ngModel)]="startDate" placeholder="Start Date">
    <p></p>
    <label for="enddate">End Date (mm/dd/yyyy): </label>
    <input id="enddate" [(ngModel)]="endDate" placeholder="End Date">
</div>
<button class="Search" (click)="search()">Search</button>
<p>&nbsp;</p>
<!-- <p></p>
<div><span>Start Date: </span> {{startDate}}</div>
<div><span>End Date: </span> {{endDate}}</div>
<p></p> -->

<!-- <div><span>Start date in UNIX: </span> {{unixStart}}
    <p></p>
    <span>End date in UNIX: </span> {{unixEnd}}
    <p></p> -->
    <div *ngIf = 'clicked'>
    <span> In bitcoin's historical data from CoinGecko, the price decreased </span> {{string}} 
    <span> day(s) in a row, from </span> {{bearishBeginDate.toLocaleDateString("en-US")}} 
    <span> to </span> {{bearishEndDate.toLocaleDateString("en-US")}}.
</div>