<h2>Longest bearish within a given date range</h2>

<div>
    <label for="startdate">Start Date (YYYY-MM-DD): </label>
    <input id="startdate" [(ngModel)]="startDate" placeholder="Start Date">
    <p></p>
    <label for="enddate">End Date (YYYY-MM-DD): </label>
    <input id="enddate" [(ngModel)]="endDate" placeholder="End Date">
</div>
<button class="Search" (click)="search()">Search</button>
<p>&nbsp;</p>
<!-- <p></p>
<div><span>Start Date: </span> {{startDate}}</div>
<div><span>End Date: </span> {{endDate}}</div>
<p></p> -->

<div><span>Start date in UNIX: </span> {{unixStart}}
    <p></p>
    <span>End date in UNIX: </span> {{unixEnd}}
    <p></p>
    <span> In bitcoin's historical data from CoinGecko, the price decreased </span> {{string}} 
    <span> days in a row for the from </span> {{date1}} 
    <span> and to </span> {{date2}}
</div>