<h2>Longest Bearish</h2>

<div>
    <label for="startdate">Start Date (YYYY-MM-DD): </label>
    <input id="startdate" [(ngModel)]="startDate" placeholder="Start Date">
    <p></p>
    <label for="enddate">End Date (YYYY-MM-DD): </label>
    <input id="enddate" [(ngModel)]="endDate" placeholder="End Date">
</div>
<button class="Search"
          (click)="getUnix(startDate, endDate)">Search</button>

<p></p>
<div><span>Start Date: </span> {{startDate}}</div>
<div><span>End Date: </span> {{endDate}}</div>
<p></p>

<div><span>Start Date: </span> {{unixStart}}</div>
<div><span>End Date: </span> {{unixEnd}}</div>

<div><span>Juttu: </span> {{string}} </div>
<div><span></span></div>